.display-flex{
    display: flex;
    margin: 0px;
    border: 1px solid black;
    max-width: 400px;
}

.flex-container{
    max-width: 350px;
    border: 1 px sold black;
    display: flex
}

.item-padrao{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;

}

.aligne-center{
    align-items: center;
}

.aline-stretch{
    align-items: stretch;
}

.aline-end{
    align-items: flex-end
}

.aline-baseline {
    align-items: baseline;
}
.conteudo-jus{
    background-color:blueviolet;
    margin: 5px;
    text-align: center;
    color: white;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-space{
    justify-content: space-between;
}

.flex-around{
    justify-content:space-around;
}

.flex-evenly{
    justify-content: space-evenly;
}

.column{
    flex-direction: column;
    min-height: 200px;
}

.column-reverse{
    flex-direction: column-reverse;
    min-height: 200px;
}
.column-center{
    flex-direction: column;
    justify-content: center;
}

.align-itens{
    align-items: center;
}